<style>
    #container {

        width: 100vw;
        height: 100vh;

        display: flex;
        flex-direction: column;

        position: absolute;
        top: 0;
        margin: 0;
        left: 0;

        text-align: center;
        justify-content: center;

        overflow: hidden;

        background-color: blueviolet;

    }

    -webkit-scrollbar {
        display: none;
    }

    #title {
        font-size: 50px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        color: whitesmoke;
    }

    #subtitle {
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        color: whitesmoke;

    }
</style>


<div id="container">
    <h2 id="title">Muito obrigado pela sua resposta</h2>
    <h3 id="subtitle">Equipe Rocketseat</h3>
</div>